body{
    background-color: white;
    margin: 0%;
    font-family: Montserrat,Merriweather,CrimsonText;
    background-image: url("../assets/icons/GreenPrint.jpeg");
  
}
.bookBox{

    margin: 20px;
    max-height: 450px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: scroll;
    font-size: 15px;
    color: cadetblue;
}

.nav{
  display: flex;
  justify-content: space-between;
  background-color: #5F7161;
  padding: 25px;
}

.navContent{
  font-family: Monoton,Montserrat,Merriweather,CrimsonText;
  font-size: 20px;
  color:#F8FAE5;
}

.searchBar input{
  border-radius: 10px;
  height: 36px;
  width: 250px;
  border: none;
  text-align: center;
  margin-right: 10px;
  color: #43766C;
}

.searchBar input::placeholder{
  color: #638889;
}

.searchBar input:focus{
  outline: 0;
}

.searchBar button{
  border-radius: 10px;
  height: 34px;
  border: none;
  text-align: center;
  background-color: #fff;
}

.searchBar button:hover{
  background-color: #F8FAE5;
}

.bookDisplay{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.eachBookDisplay{
  width: 900px;
  display: flex;
  border-radius: 10px;
}

.details{
  background-color:#739072;
  width: 600px;
}

.cover{
  padding: 30px;
}
.cover img{
  margin: auto;
  margin-left: 20px;
}





.item{
    display: flex;
    gap: 10px;
}
.bookImg{
    margin: auto;
    height: 100px;
    width:50px
}
.bookDetails{
    margin-left: 10px;
}

#addButton{
    border-radius:30px;
    border: none;
}

 


/* CSS */
.button-71 {
  background-color:cadetblue;
  border: 0;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

.addBook {
  display: flex;
  flex-direction: column;
  
}
.addBook form
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addBook input{
  height: 30px;
  width: 200px;
  margin: auto;
}

.addBook textarea {
  height: 100px;
  width: 400px;
  margin: auto;

}

.addBook button{
  height: 30px;
  width: 200px;
  border-radius: 10px;
  margin:auto ;
  border: none;
}

.addBook button:focus{
  outline: 0;
}