body{
    background-color: white;
    margin: 0%;
    font-family: Montserrat,Merriweather,CrimsonText;
    background-image: url("../assets/icons/GreenPrint.jpeg");
  
}
.bookBox{

    margin: 20px;
    max-height: 600px;
    max-width: 600px;
    border-radius: 10px;
    display: flex;
    gap:40px ;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: scroll;
    font-size: 15px;
    color: #503C3C;
    background-color: #FEFBF6;
}

.item{
  display: flex;
  gap: 20px;
  padding: 20px;
}

.bookImg{
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav{
  display: flex;
  justify-content: space-between;
  background-color: #FEFBF6;
  padding: 25px;
}

.navContent{
  font-family: Monoton,Montserrat,Merriweather,CrimsonText;
  font-size: 20px;
  color:#B3A398;
}
#Sort{
  margin-left: 30px;
  margin-bottom: 30px;
  color: #FEFBF6;
  font-size: 20px;
}

#Sort button{
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: #F8FAE5;
  height: 34px;
}

#Sort button:hover{
  background-color: #B3A398;

}

#Sort label{
  font-family:Monoton,Montserrat,Merriweather,CrimsonText;
}

#Sort select{
  text-align: center;
  font-size: 15px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: #F8FAE5;
  color: #503C3C;
  margin-left: 10px;
  margin-bottom: 5px;
}

.searchBar input{
  border-radius: 10px;
  height: 36px;
  width: 250px;
  border: none;
  text-align: center;
  margin-right: 10px;
  color: #FEFBF6;
  background-color: #B3A398;
}

.searchBar input::placeholder{
  color: #FEFBF6;
}

.searchBar input:focus{
  outline: 0;
}

.searchBar button{
  border-radius: 10px;
  height: 34px;
  border: none;
  text-align: center;
  background-color: #B3A398;
}

.searchBar button:hover{
  background-color: #F8FAE5;
}

.bookDisplay{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.eachBookDisplay{
  width: 900px;
  display: flex;
  border-radius: 10px;
  background-color: #FEFBF6;
  padding: 30px;
  border: 3px solid #503C3C;
}
.cover{
  margin: auto;
  margin-right: 50px;
 
} 

.bookDetails{
    display: flex;
    flex-direction: column;
}

.details h2{
  font-family: Protest Strike;
}

#addButton{
    border-radius:30px;
    border: none;
}

.editDel button{
  border-radius: 10px;
  height: 34px;
  border: none;
  text-align: center;
  background-color: #B3A398;
}

.editDel{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.Edit input{
  border-radius: 10px;
  height: 50px;
  width:min-content;
  border: none;
  text-align: center;
  margin-right: 10px;
  color:#FEFBF6 ;
  background-color: #B3A398;
  margin-left: 30px;
  font-size: 20px;
}

.Edit input:focus{
  outline: 0;
}

.ratEdit input{
  width: 60px;
  height: 60px;
}

.ratEdit button
{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: #B3A398;
}

.ratEdit button:hover{
  background-color: #FEFBF6;
}

.Edit{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.editDel button:hover{
  background-color: #FEFBF6;
}

.details{
  background-color: #FEFBF6;
  color: #B3A398;
  border-radius: 10px;
  border: 1px solid #503C3C;
  text-align: center;
  padding: 30px;
  width: 600px;
}
.details h2{
  font-weight: 300;
  color: #503C3C;
  font-size: 30px;
}

.details p{
  font-family:Dancing Script,monospace ;
  font-size: 26px;
}

.Dhead{
  color: #503C3C;
  font-size: 20px;
  font-family: Merriweather,monospace;
}
table {
  margin-left: 50px;
  text-align: left;
  margin-top: 30px;
}
table p{
  margin-left: 10px;
  margin-top: 10px;
  text-align:start;
  font-size: 18px;
}

 


/* CSS */
.button-71 {
  background-color:#503C3C;
  border: 0;
  border-radius: 50px;
  color: #FEFBF6;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

.addBook {
  display: flex;
  flex-direction: column;
  
}
.addBook form
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addBook input{
  height: 30px;
  width: 200px;
  margin: auto;
}

.addBook textarea {
  height: 100px;
  width: 400px;
  margin: auto;

}

.addBook button{
  height: 30px;
  width: 200px;
  border-radius: 10px;
  margin:auto ;
  border: none;
}

.addBook button:focus{
  outline: 0;
}

footer{
  font-size: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Monoton,Montserrat,Merriweather,CrimsonText;
  color:#FEFBF6;
}

.addBook{
  background-color: #FEFBF6;
  width: 900px;
  min-height: 500px;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  align-items: center;
  border-radius: 10px;
}

.addHead{
  font-family: Monoton,Montserrat,Merriweather,CrimsonText;
  color: #503C3C;
  margin-bottom: 40px;
}

.addDetail input{
  height: 50px;
  width: 300px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: none;
  border-radius: 7px;
  background-color: #B3A398;
  color: #FEFBF6;
  text-align: center;
  padding: 30px;
}

.addDetail input:focus{
  outline: 0;
}

.addDetail button{
  background-color: #FEFBF6;
}

.addDetail input::placeholder{
  color: #FEFBF6;
}

.addDetail textarea:focus{
  outline: 0;
}

.addDetail textarea::placeholder{
  color: #FEFBF6;
}

.addDetail textarea{
  height: 150px;
  width: 500px;
  background-color: #B3A398;
  color: #FEFBF6;
  border-radius: 7px;
  text-align: center;
  padding: 30px;
}